# ============================================
# Backup files
# ============================================
*.bak
*.backup
*~

# ============================================
# Quarto output folders
# ============================================
_book/
# book output(HTML، PDF، etc)

_site/
# website output

.quarto/
# Temporary and cache files (including /cites)

_freeze/
# Computational cache (for code re-execution)

# ============================================
# Temporary and side files
# ============================================
*_files/
# Images and supporting files for each document

**/*.quarto_ipynb
# Converted Quarto files to Jupyter

# ============================================
# Output files
# ============================================
*.html
*.pdf
*.docx
*.epub

# ============================================
# Development environments
# ============================================
.DS_Store
# macOS system files

.Rproj.user
# RStudio local settings

.idea/
# JetBrains local settings

*.Rproj
# RStudio project file

# ============================================
# Jupyter files
# ============================================

*.ipynb


# ============================================
# Windows Preview Cache Files (Thumbnails)
# ============================================

Thumbs.db
thumbs.db
ehthumbs.db
Desktop.ini

# ============================================
# Temporary LaTeX and log files
# ============================================
*.log
*.aux
*.tex
*.pdf
*.idx
*.lof
*.lot
*.toc
/.quarto/
