/.quarto/
**/*.quarto_ipynb

# پوشه‌های خروجی اصلی Quarto
.quarto/
_output/
_site/

# فایل‌های موقت و کش
_freeze/       # کش محاسباتی 
*_files/       # پوشه‌های حاوی فایل‌های جانبی برای هر سند (مثل تصاویر)

# فایل‌های خروجی
*.html
*.pdf
*.docx

# فایل‌های تولیدشده توسط Jupyter 
*.ipynb

# فایل‌های سیستمی و تنظیمات محلی
.DS_Store
.Rproj.user
.idea/
*.bak