html {
    direction: rtl;
    scroll-behavior: smooth;
}

@font-face {
    font-family: Vazirmatn;
    src: url("../fonts/Vazirmatn.ttf");
}


body {
    direction: rtl;
    text-align: justify;
    font-family: Vazirmatn, Tahoma, sans-serif;
    line-height: 2;
}

pre,
code,
.sourceCode {
    direction: ltr;
    text-align: left;
    font-family: Consolas, "Courier New", monospace;
}


.example {
    background: #f7f9fb;
    border: 1px solid #d0d7de;
    border-radius: 8px;
    padding: 1rem;
    margin: 1.5rem 0;
}

.example::before {
    content: "Example";
    display: block;
    font-weight: bold;
    margin-bottom: .8rem;
}

nav {
    display: flex;
    gap: 20px;
}

pre.html::before {
    content: "</> HTML";
    font-size: 0.7em;
    margin-bottom: 1.5em;
    display: block;
}

pre.css::before {
    content: "</> CSS";
    font-size: 0.7em;
    margin-bottom: 1.5em;
    display: block;
}


a {
    text-decoration: none;
}

img {
    right: 15%;
    width: 70%;
    position: relative;
}

figcaption {
    right: 40%;
    position: relative;
}